# Application
APP_NAME="Library Management System"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/Library/public

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=library
DB_USER=root
DB_PASSWORD=

# Session
SESSION_LIFETIME=120
SESSION_DRIVER=file





# ===========================
# Mail Configuration
# ===========================

MAIL_MAILER=

MAIL_HOST=
MAIL_PORT=
MAIL_ENCRYPTION=

MAIL_USERNAME=
MAIL_PASSWORD=


MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Library Management System"

