/vendor/

.env

*.log
/storage/logs/*

/public/storage/logs/*

/public/uploads/books/*
!/public/uploads/books/.gitkeep

/public/uploads/profiles/*
!/public/uploads/profiles/.gitkeep

/public/storage/payment_screenshots/*
!/public/storage/payment_screenshots/.gitkeep

.vscode/
.idea/


.DS_Store
Thumbs.db
